.feed {
  grid-column: 2/3;
  grid-row: 2;
  margin-right: 8%;
}

.feed-teasers { 
  max-height: 600px;
  overflow: scroll
}

.feed-title {
  margin-top: 0;
  padding-bottom: 3%;
  border-bottom: solid 1px 
}

@media only screen and (max-width: 900px) {
  .feed {
    grid-column: 1;
    grid-row: auto;
    padding-left: 5%;
  }
}