.nav-bar {
  height: 79px;
  color: white; 
  background-color: #D52D5A;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  box-shadow: 0px 5px 5px -5px #9F9D9D
}

#nav-logo {
  max-width: 100%;
  max-height: 100%;
}

.nav-item {
  color: white; 
  padding-left: 4%;
  padding-bottom: 10px;
}

.nav-item-main {
  font-family: Impact,Haettenschweiler,Franklin Gothic Bold,Charcoal,Helvetica Inserat,Bitstream Vera Sans Bold,Arial Black,sans serif;
  font-size: 2em; 
}

.nav-main {
  grid-column: 2/3;
  padding-top: 35px;
  padding-bottom: 5px;
}

.nav-sub {
  grid-column: 3/4;
  padding-top: 50px;
  padding-bottom: 5px;
}

.mobile-menu {
  display: none;
}

@media only screen and (max-width: 900px) {
  .nav-bar {
    width: 100%;
    height: 100%;
    /* grid-template-rows: auto; */
  }
  
  #nav-logo {
    min-width: 184px;
    min-height: 75px;
  }
  
  .nav-item {
    display: block;
    grid-column: 1/4;
    grid-row: auto;
  
  }

  .hidden {
    display: none;
  }
  
  .nav-main {
    grid-column: 1;
    grid-row-start: 2;
    margin-top: 0;
    padding-top: 2%;
    padding-left: 4%;
    /* display: none; */
   
  }

  .bar {
    width: 55px;
    height: 3px;
    margin-bottom: 10px;
    background-color: white;
  }
  
  .nav-sub {
    grid-column: 1;
    padding-top: 2%;
    padding-left: 4%
    /* display: none; */
  
  }
  
  .mobile-menu {
    display: inline-block;
    grid-column: 3;
    grid-row: 1;
    height: 100%;
    margin-top: 30px;
    padding-right: 12%;

  }
}


