.headline-teaser {
  grid-column: 1/4;
  grid-row: 1;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: black;
}

.headline-info {
  width: 40%;
  height: 80%;
  background-color:rgba(255,255,255,0.4);
  margin: 1em;
  padding: 1em;
  word-wrap: break-word
}

.headline-title {
  font-family: var(--title-font);
  font-style: italic;
  font-size: 3vw;

}

.headline-body {
  position: relative;
  font-size: 1.1vw;
  line-height: 1.5;
  
}

@media only screen and (max-width: 900px) {
  .headline-teaser {
    display: grid;
    grid-template-rows: 60% 40%;
    grid-column: 1/4;
  }
  
  .headline-info {
    grid-row: 2/3;
    width: 100%;
    margin: 0;
  }
  
  .headline-title {
    font-family: var(--title-font);
    font-style: italic;
    font-size: 100%;
    text-align: center;  
  }
  .headline-body {
    display: none
  }
}