.article-teaser {
  display: grid;
  grid-template-rows: 80% 20%;
  background-color: green;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: black;  
}

.article-teaser-info {
  font-family: Impact,Haettenschweiler,Franklin Gothic Bold,Charcoal,Helvetica Inserat,Bitstream Vera Sans Bold,Arial Black,sans serif;
  margin: 0;
  padding: 0;
  grid-row: 2/3;
  height: 100%;
  background-color: white;
  background-color:rgba(255,255,255,0.4);
 
  overflow-wrap: break-word;
}

.article-teaser-title {
  /* font size set in component */
  margin: 4%;
  font-style: italic;
  text-align: center;
}

@media only screen and (max-width: 900px) {
  .article-teaser{
    grid-column: 1;
  }
}